# FCAF framework and test content
docs/fcaf/** @eu-digital-identity-wallet/fcaf-reviewers

# Repository infrastructure / governance
.github/** @eu-digital-identity-wallet/fcaf-core
.gitignore @eu-digital-identity-wallet/fcaf-core
README.md @eu-digital-identity-wallet/fcaf-core
LICENSE.md @eu-digital-identity-wallet/fcaf-core
