# Default owners
* @eu-digital-identity-wallet/fcaf-core

# Reviewable framework and test content
docs/fcaf/** @eu-digital-identity-wallet/fcaf-reviewers

# Repository infrastructure
.github/** @eu-digital-identity-wallet/fcaf-core
Makefile @eu-digital-identity-wallet/fcaf-core
mkdocs.yml @eu-digital-identity-wallet/fcaf-core
